* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 1em;
  text-align: center;
  color: #fff;
  background-color: #000;
  z-index: 5;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

.main-heading {
  margin-bottom: .3em;
  font-size: 1.9rem;
  opacity: 0.8;
}

.supporting-text {
  margin-bottom: 1.5em;
  font-size: 1.15rem;
}

.accent {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #8ac926;
}

.info-text-1 {
  margin-bottom: .25em;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
}

.info-text-2 {
  margin-bottom: 1.25em;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

input {
  border-radius: 1em;
  width: 90%;
  max-width: 20em;
  min-height: 3.5em;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  padding: 0.25emm;
}

input::placeholder {
  text-align: center;
  font-size: 1.1rem;
}

input:focus {
  outline: 2px solid #8ac926;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  margin: 1em 0;
}

input[type="email"] {
  margin-bottom: 2.5em;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: transparent; 
  outline: transparent;
}

.checkbox-consent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .5em 0 2em;
  font-size: 1rem;
  font-weight: 700;
}

#consent {
  outline: 0;
}

.submit-button {
  width: 13em;
  min-height: 3.5em;
  padding: 0.25em 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  border: 0;
  border-radius: 1em;
  color: #000;
  background-color: #8ac926;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  color: #8ac926;
  background-color: #fff;
  outline: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: left top;
  opacity: 0.5;
  z-index: -1;
}

strong {
  color: #8ac926;
}

.fictional {
  font-size: .9rem;
  margin-top: .25em;
  border-top: .5em solid #8ac926;
}

.updated-content {
  margin-bottom: 1em;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.03em;
}


/* MEDIA QUERIES */
@media screen and (min-width: 360px) {
  .main-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    padding: 0;
  }

  .card-container {
    max-width: 1100px;
    height: 100vh;
    padding: 0;
  }

  .main-heading {
    font-size: 4rem;
  }

  .supporting-text {
    font-size: 2rem;
  }

  .info-text-1,
  .info-text-2,
  .checkbox-consent {
    font-size: 1.2rem;
  }

  input:focus {
    outline: 3px solid #8ac926;
  }

  .submit-button {
    font-size: 1.15rem;
  }
}