* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
}

.card-form {
  width: 100%;
  text-align: center;
}

.accent {
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #b9fbc0;
  color: #8ac926;
}

h1 {
  margin-bottom: .2em;
  font-size: 4rem;
  opacity: .8;
}

.supporting-text {
  margin-bottom: 1em;
  font-size: 2rem;
}

.info-text-fill-form {
  margin-bottom: .5em;
}

.info-text-shuttle {
  margin-bottom: 3em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  gap: .75em;
}

input {
  border-radius: 1em;
  width: 100%;
  height: 3.55em;
  border: 0;
  font-family: inherit;
  padding: 0 0.5em;
  font-size: 1.1rem;
  text-align: center;
  border: 0;
}

input::placeholder {
  text-align: center;
  font-size: 1.1rem;
}

input:focus {
  outline: 3px solid #8ac926;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

input[type="email"] {
  margin-bottom: 1em;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin: 0 .5em .5em 0;
  vertical-align: middle;
}

.checkboxes {
  width: 30em;
  margin-bottom: 3em;
}

.submit-button {
  border-radius: 1em;
  padding: 0.25em 1em;
  height: 3.5em;
  width: 8em;
  text-align: center;
  font-size: 1.15rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 0;
  color: #8ac926;
  font-weight: 900;
  cursor: pointer;
  background-color: #8ac926;
  color: #000;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #fff;
  color: #8ac926;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111;
  z-index: 5;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 5;
}

.footer-contact {
  color: #8ac926;
}

.fictional {
  letter-spacing: 0.03em;
}

.updated-content {
  margin-bottom: 1em;
  letter-spacing: 0.03em;
}

.be-in-contact {
  font-size: 1.2rem;
}
